.fullname {
  font-weight: bold;
  cursor: pointer;
}
.fullname:hover {
  text-decoration: underline;
}
.username {
  margin-left: 5px;
  color: gray;
}

.more {
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
.more:hover {
  background-color: rgb(41, 40, 40);
  border-radius: 50%;
  color: rgb(36, 67, 204);
}

.containerMore {
  position: relative;
}

.layoutMore {
  position: absolute;
  top: 0%; /* Position it above the More button */
  right: 2%;
  min-width: 200px;
  border-radius: 10px;
  background-color: black;
  box-shadow: 7px 5px 35px 7px rgba(80, 79, 79, 0.3);
  z-index: 1000;
  border: 1px solid rgb(77, 75, 75);
  display: flex;
  flex-direction: column;
  text-align: left;
}
.layoutMore div {
  cursor: pointer;
}
.layoutMore div:hover {
  background-color: rgb(12, 12, 12);
}
.item1 {
  color: red;
  padding: 10px 7px 4px 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.item2,
.item3,
.item4 {
  padding: 10px 7px 4px 12px;
}

.item5 {
  padding: 4px 7px 12px 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(104, 124, 141, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: black;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 320px;
}

.title {
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.description {
  color: rgb(92, 90, 90);
  font-size: 19px;
}
.popupButton1 {
  margin-top: 20px;
}
.popupButton2 {
  margin-top: 14px;
}

.deleteBtn,
.cancelBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 19px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.deleteBtn {
  background-color: red;
  width: 100%;
}
.deleteBtn:hover {
  background-color: rgb(226, 49, 49);
}

.cancelBtn {
  background-color: black;
  border: 1px solid rgb(116, 127, 160);
  width: 100%;
}
.cancelBtn:hover {
  background-color: rgb(24, 23, 23);
}
