.icon {
  position: relative; /* Needed to position the tooltip */
  cursor: pointer;
}

.iconRVBS {
  padding: 7px;
}
.icon1:hover {
  color: rgb(52, 91, 218);
}
.icon1:hover .iconRVBS {
  border-radius: 50%;
  background-color: rgb(1, 9, 36);
}

.iconRepost {
  padding: 7px;
}
.icon2:hover {
  color: rgb(93, 204, 71);
}
.icon2:hover .iconRepost {
  border-radius: 50%;
  background-color: rgb(6, 34, 1);
}
.iconLike {
  padding: 10px;
}
.icon3:hover {
  color: rgb(238, 49, 128);
}
.icon3:hover .iconLike {
  border-radius: 50%;
  background-color: rgb(39, 1, 17);
}

.icon1:hover .tooltip,
.icon2:hover .tooltip,
.icon3:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.tooltip {
  position: absolute;
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(93, 108, 131);
  color: white;
  padding: 3px;
  font-size: 14px;
  border-radius: 5px;
  white-space: nowrap;
  visibility: hidden; /* Initially hidden */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.2s ease-in-out; /* Smooth transition */
}
