.icon {
  position: relative; /* Needed to position the tooltip */
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.icon3{
  background-color: yellow;
}
.icon1:hover {
  color: rgb(52, 91, 218);
  background-color: rgb(32, 32, 32);
}
.icon2:hover {
  color: rgb(93, 204, 71);
  background-color: rgb(32, 32, 32);
}
.icon3:hover {
  color: rgb(245, 47, 56);
  background-color: rgb(32, 32, 32);
}
.icon4:hover {
  color: rgb(52, 91, 218);
  background-color: rgb(32, 32, 32);
}
.icon1:hover .tooltip,
.icon2:hover .tooltip,
.icon3:hover .tooltip,
.icon4:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.tooltip {
  position: absolute;
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(93, 108, 131);
  color: white;
  padding: 3px;
  font-size: 14px;
  border-radius: 5px;
  white-space: nowrap;
  visibility: hidden; /* Initially hidden */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.2s ease-in-out; /* Smooth transition */
}
