.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* prevent multiple body scrolls */
  color: white;
}
.column {
  padding: 10px;
}
/* first column */
.navbar {
  width: 31%;
  max-width: 31%; /* Start at 31% width */
  min-width: 100px; /* Allows it to shrink */
  flex-shrink: 1; /* Allows it to shrink */
  height: 100vh;
  text-align: right;
  overflow-y: auto;
  scrollbar-width: thin;
  overflow-x: hidden;
  border-right: 1px solid rgb(56, 56, 56);
}

.messageList {
  width: 410px;
  border-right: 1px solid rgb(56, 56, 56);
}

.chatBox {
  width: 600px;
  border-right: 1px solid rgb(56, 56, 56);
}

.spinner {
  width: 40px;
  height: 40px;
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid #007bff; /* Change color as needed */
  border-left: 1px solid #407bb9;

  border-radius: 50%;
  animation: spin 1s linear infinite;

  margin-top: 50%;
  margin-left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* When screen is below 1280px, Navbar shrinks down to 100px */
@media (max-width: 1280px) {
  .navbar {
    max-width: 250px;
    min-width: 100px;
    width: 100px; /* Fix it to 100px when it reaches the limit */
  }
}

/* When screen is below 1020px, Sidebar disappears */
@media (max-width: 1020px) {
  .navbar {
    width: 100px; /* Fix Navbar to 100px */
    min-width: 100px;
    max-width: 100px; /* Prevent it from shrinking further */
  }
}

/* When screen is less than 720px, only the mainSidebarContainer shrinks */
@media (max-width: 720px) {
  .navbar {
    width: 57px; /* Keep navbar fixed at 100px */
    min-width: 57px;
    max-width: 57px;
  }
}
