.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: white;
}

.firstRow {
  display: flex;
  flex-direction: row;
  flex: 1 1 93vh;
  justify-content: center;
  align-items: center;
}

.secondRow {
  flex: 1 1 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.column1 {
  display: flex;
  flex: 1;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
}

.column2 {
  display: flex;
  flex: 1;
  align-items: center; /* center vertically */
  margin-left: 11%;
}

/* media query for Tablet*/
@media (max-width: 780px) {
  .container {
    height: auto; /* Allows container to expand when needed */
    min-height: 100vh; /* Ensures it still covers full screen if content is less */
  }
  .firstRow {
    flex-direction: column; /*  change it's direction */
  }

  /* Override first column styles */
  .column1 {
    margin-top: 8%;
    flex: unset;
    width: 60%;
    justify-content: flex-start; /* Left align content */
    align-items: flex-start; /* Align items to the top-left */
    text-align: left; /* Ensure text is left aligned */
  }
  .column2 {
    width: 60%;
    margin: 0;
  }
}

/* media query for Mobile*/
@media (max-width: 480px) {
  .column1,
  .column2 {
    width: 85%;
  }
}
