.overlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlayContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 590px;
  height: 645px;
  background: black;
  padding: 5px;
  border-radius: 15px;
}

.row1ContainerDiv {
  width: 100%;
}
.row1ContainerFlex {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-bottom: 17px;
}
.space {
  width: 34%;
}
.closeButton {
  background-color: black;
  width: 50%;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.closeButton:hover {
  background-color: rgba(88, 88, 88, 0.8);
  border-radius: 50%;
}

/* Tooltip styling */
.closeButton::after {
  content: "Close";
  position: relative;
  top: 30px;
  left: -20px;
  transform: translateX(-50%);
  background: rgba(88, 88, 88, 0.8);
  color: white;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s;
  white-space: nowrap;
}
/* Show tooltip when hovered */
.closeButton:hover::after {
  opacity: 1;
  visibility: visible;
}
.row2ContainerDiv {
  width: 60%;
}
.row2ContainerFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
