.overlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlayContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 590px;
  height: 645px;
  background: black;
  padding: 5px;
  border-radius: 15px;
}

.row1ContainerDiv {
  width: 100%;
}
.row1ContainerFlex {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-bottom: 45px;
  align-items: center;
  justify-content: center;
}

.row2ContainerDiv {
  width: 75%;
  height: 100%;
}
.row2ContainerFlex {
  display: flex;
  flex-direction: column;
}
.title {
  margin-top: 10px;
  color: rgb(156, 152, 152);
}

.inputPassword {
  display: flex;
  position: relative;
  margin-bottom: 25px;
}
.passwordBtn {
  width: 100%;
  position: absolute;
}

.eyeDiv {
  position: absolute;
  padding: 17px;
  margin-top: 24px;
  left: 87%;
}
.eyeBtn {
  cursor: pointer;
  font-size: 27px;
}
.passwordBtn input {
  padding: 20px;
  font-size: 16px;
  width: 100%;
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
  margin-top: 24px;
}
.passwordBtn input:focus {
  border: 2px solid rgb(47, 115, 241);
}

.row4ContainerDiv {
  width: 100%;
  margin-top: 18%;
  margin-bottom: 10px;
  color: gray;
}
.row4ContainerFlex {
  width: 100%;
}
.row5ContainerDiv {
  width: 100%;
  margin-top: 25px;
}
.row5ContainerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: gray;
  border-radius: 27px;
}

.nextButton {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.active {
  background-color: rgb(255, 252, 252);
  cursor: pointer;
}
.item {
  color: #4d94ff;
}

.item:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .overlayContent {
    width: 100%;
    height: 100%;
  }
  .row5ContainerDiv {
    margin-top: 20%;
  }
  .row4ContainerDiv {
    margin-top: 21%;
  }
}

@media (max-width: 450px) {
  .eyeDiv {
    left: 80%;
  }
  .eyeBtn {
    font-size: 22px;
  }
  .row4ContainerDiv {
    margin-top: 30%;
  }
}
