.icon {
  font-size: 27px;
  margin-right: 6px;
  padding-left: 10px;
}
.effect {
  cursor: pointer;
}
.effect:hover {
  background-color: rgb(27, 27, 27);
}
.item {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.content {
  font-size: 22px;
  margin-left: 7px;
}

.containerMore {
  position: relative;
  display: inline-block;
  width: 100%;
}
.layoutMore {
  position: absolute;
  bottom: 100%; /* Position it above the More button */
  width: 320px;
  background-color: black;
  border-radius: 15px;
  box-shadow: 7px 5px 35px 7px rgba(80, 79, 79, 0.3);

  z-index: 10;
  border: 1px solid rgb(77, 75, 75);
}
