.followButtonDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  font-weight: bold;
}

.followButton {
  padding: 7px 15px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
}

.followButton:hover {
  background-color: rgb(223, 222, 222);
}

.following {
  background-color: black;
  color: white;
}

.unfollow {
  color: red;
}
.unfollow:hover {
  background-color: rgb(44, 23, 23);
  border: 1px solid red;
}
